<!DOCTYPE html>
<html>
<head>
	<title>Shopular</title>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7' crossorigin='anonymous'>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	<script src="js/main.js"></script>
	<style type="text/css">
		input.ng-invalid.ng-touched {
        border: 1px solid red;
      }
	</style>
</head>
<body ng-app="shopular">
	<section class="container" ng-controller="StuffController as stuff" >
		<table class="table table-bordered">
			<thead>
				<tr>
					<td>Name</td>
					<td>Price</td>
					<td>Quantity</td>
					<td>Color</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="foo in stuff.all | orderBy:'quantity'">
					<td>{{foo.name.substring(0,1).toUpperCase() + foo.name.substring(1)}}</td>
					<td>{{(foo.price - foo.discount) * stuff.tax + (foo.price - foo.discount) | currency}} <img ng-show="foo.discount > 0" src="https://tiy-learn-content.s3.amazonaws.com/98350f05-sale_2.png"></td>
					<td>{{foo.quantity}}
						<button ng-click="stuff.plus(foo)">
							<i class="glphicon glyphicon-plus"></i>
						</button>
						<button ng-click="stuff.minus(foo)">
							<i class="glphicon glyphicon-minus"></i>
						</button>
					</td>
					<td>{{foo.color.substring(0,1).toUpperCase() + foo.color.substring(1)}}</td>
				</tr>
			</tbody>
		</table>
		<form novalidate name="createForm" ng-submit="stuff.save(createForm)">
			<input type="text" ng-model="stuff.newItem.name" required minlength="2" placeholder="name">
			<input type="number" placeholder="price" required min="0" ng-model="stuff.newItem.price">
			<input type="number" placeholder="quantity" required min="0" ng-model="stuff.newItem.quantity">
			<select required ng-model="stuff.newItem.color">
				<option value="" disabled selected>Select Color</option>
				<option>Beige</option>
				<option>Black</option>
				<option>Blue</option>
				<option>Brown</option>
				<option>Green</option>
				<option>Red</option>
				<option>Silver</option>
				<option>White</option>
			</select>
			<input type="number" placeholder="discount" ng-model="stuff.newItem.discount" required min="0">
			<button class="btn btn-primary">
				<i class="glphicon glyphicon-plus"></i>
			</button>
		</form>
	</section>
</body>
</html>